In [28]:
import pandas as pd 

url = "https://raw.githubusercontent.com/owid/co2-data/master/owid-co2-data.csv"
# Read the dataset from the URL
df = pd.read_csv(url)
df.head()

# Select only these columns:
   # country, year, co2, co2_per_capita, population

df = df[["country", "year", "co2", "co2_per_capita", "population"]] 

# Filter data for the year 2020

df2 = df[df['year'] >= 2020] 

# Drop rows with missing co2_per_capita

df2 = df2.dropna(subset= ['co2_per_capita'])

# Sort the top 10 countries by co2_per_capita 

top10_co2_per_capita = df2.nlargest(10, "co2_per_capita")
print(top10_co2_per_capita)

# Calculate global average co2_per_capita in 2020

global_average = df2["co2_per_capita"].mean().round(2)
print(global_average)

# Filter countries with above-average co2_per_capita

filtered_countries = df2[df2["co2_per_capita"] > global_average]
print(filtered_countries)

# Use .query() to find countries with population > 100_000_000 and co2 > 500

df2.query("population > 100000000 and co2 > 500")

                   country  year      co2  co2_per_capita  population
37805                Qatar  2023  115.712          38.841   2979087.0
37803                Qatar  2021  104.244          37.032   2814989.0
37804                Qatar  2022  106.152          36.699   2892465.0
37802                Qatar  2020  102.501          36.564   2803373.0
7624                Brunei  2021   11.713          25.929    451723.0
7626                Brunei  2023   11.770          25.644    458959.0
4490               Bahrain  2020   37.396          25.215   1483081.0
7623                Brunei  2020   11.157          24.937    447412.0
7625                Brunei  2022   11.354          24.934    455374.0
45599  Trinidad and Tobago  2021   36.413          24.476   1487715.0
4.63
                             country  year        co2  co2_per_capita  \
1340                         Andorra  2020      0.381           4.923
1341                         Andorra  2021      0.410           5.236
1342                         Andorra  2022      0.420           5.263
1343                         Andorra  2023      0.424           5.242
1688                        Anguilla  2020      0.143           9.614
...                              ...   ...        ...             ...
48072  Upper-middle-income countries  2022  16989.541           5.952
48073  Upper-middle-income countries  2023  17581.070           6.147
49566                          World  2021  36991.734           4.650
49567                          World  2022  37293.836           4.649
49568                          World  2023  37791.570           4.670

         population
1340   7.739800e+04
1341   7.837500e+04
1342   7.972200e+04
1343   8.086800e+04
1688   1.486400e+04
...             ...
48072  2.833259e+09
48073  2.839926e+09
49566  7.954448e+09
49567  8.021407e+09
49568  8.091735e+09

[325 rows x 5 columns]

,country,year,co2,co2_per_capita,population
544,Africa,2020,1355.782,0.983,1.380821e+09
545,Africa,2021,1441.534,1.021,1.413753e+09
546,Africa,2022,1432.503,0.991,1.446884e+09
547,Africa,2023,1418.739,0.959,1.480771e+09
2936,Asia,2020,20634.852,4.403,4.686811e+09
...,...,...,...,...,...
48073,Upper-middle-income countries,2023,17581.070,6.147,2.839926e+09
49565,World,2020,35126.527,4.454,7.887001e+09
49566,World,2021,36991.734,4.650,7.954448e+09
49567,World,2022,37293.836,4.649,8.021407e+09
49568,World,2023,37791.570,4.670,8.091735e+09